<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <body>
      <div class="home-page">
        <div class="form">
          <div class="home">
            <div class="home-header">
              <h3>Alumini Page</h3>
            </div>
          </div>
          <form class="home-form">
            <button><a href="/login">Login</a></button><br /><br />
            <button><a href="/register">Register</a></button>
            <p class="message">
              Verify Certificate?
              <a href="#">Certificate Verification</a>
            </p>
          </form>
        </div>
      </div>
    </body>
  </body>
</html>
