<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../style.css" />
    <title>REGISTRATION</title>
  </head>
  <body>
    <div class="register-page">
      <div class="form">
        <div class="register">
          <div class="register-header">
            <h3>Alumini Registraion</h3>
          </div>
        </div>
        <form
          class="register-form"
          method="POST"
          action="/register"
          onsubmit="checkMatch()"
        >
          <input
            name="firstname"
            type="text"
            placeholder="First Name"
            required
          />
          <input name="lastname" type="text" placeholder="Last Name" required />
          <input
            name="studentId"
            type="text"
            placeholder="Student ID"
            required
          />
          <input
            id="email"
            name="email"
            type="email"
            placeholder="Email Address"
            required
          />
          <input
            id="email1"
            name="email1"
            type="email"
            placeholder="Confirm Email Address"
            required
          />
          <input
            id="password"
            name="password"
            type="password"
            placeholder="Set password"
            required
          />
          <input
            id="password1"
            name="password1"
            type="password"
            placeholder="Confirm password"
            required
          />
          <button type="submit">Register</button>
          <p class="message">Already registered? <a href="/login">Login</a></p>
        </form>
      </div>
    </div>
  </body>
  <script>
    function checkMatch() {
      const email = document.getElementById("email").value;
      const email1 = document.getElementById("email1").value;
      const password = document.getElementById("password").value;
      const password1 = document.getElementById("password1").value;
      if (email != email1) {
        alert("Emails don't match. Please enter again!!");
        return false; //Returning 'false' will cancel form submission
      } else if (password !== password1) {
        alert("Passwords don't match. Please enter again!!");
        return false;
      } else {
        return true;
      }
    }
  </script>
</html>
